includes:
  - %rootDir%/../phpstan-symfony/extension.neon
  - %rootDir%/../phpstan-symfony/rules.neon
  - %rootDir%/../phpstan/conf/bleedingEdge.neon

parameters:
  level: 9
  excludePaths:
    - vendor/(?)
  treatPhpDocTypesAsCertain: false
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    - identifier: missingType.generics
    - identifier: missingType.iterableValue
    - message: "#^Cannot call method getCustomers\\(\\) on App\\\\Entity\\\\Team\\|null\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Cannot call method getId\\(\\) on App\\\\Entity\\\\Customer\\|null\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Cannot call method getName\\(\\) on App\\\\Entity\\\\Team\\|null\\.$#"
      count: 4
      path: Command/KimaiImporterCommand.php

    - message: "#^Cannot call method getProjects\\(\\) on App\\\\Entity\\\\Team\\|null\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Cannot call method getTimezone\\(\\) on App\\\\Entity\\\\User\\|null\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Cannot call method getUsers\\(\\) on App\\\\Entity\\\\Team\\|null\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Cannot call method hasUsers\\(\\) on App\\\\Entity\\\\Team\\|null\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Method KimaiPlugin\\\\ImportBundle\\\\Command\\\\KimaiImporterCommand\\:\\:countFromImport\\(\\) should return int but returns mixed\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Method KimaiPlugin\\\\ImportBundle\\\\Command\\\\KimaiImporterCommand\\:\\:createActivity\\(\\) should return App\\\\Entity\\\\Activity but returns App\\\\Entity\\\\Activity\\|null\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Parameter \\#1 \\$customer of method App\\\\Entity\\\\Team\\:\\:addCustomer\\(\\) expects App\\\\Entity\\\\Customer, App\\\\Entity\\\\Customer\\|null given\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Parameter \\#1 \\$name of method App\\\\Entity\\\\TimesheetMeta\\:\\:setName\\(\\) expects string, mixed given\\.$#"
      count: 3
      path: Command/KimaiImporterCommand.php

    - message: "#^Parameter \\#1 \\$object of method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:persist\\(\\) expects object, App\\\\Entity\\\\Team\\|null given\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Parameter \\#1 \\$string of function strtolower expects string, string\\|null given\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Parameter \\#1 \\$user of method App\\\\Entity\\\\Team\\:\\:addTeamlead\\(\\) expects App\\\\Entity\\\\User, App\\\\Entity\\\\User\\|null given\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Parameter \\#1 \\$user of method App\\\\Entity\\\\Team\\:\\:addUser\\(\\) expects App\\\\Entity\\\\User, App\\\\Entity\\\\User\\|null given\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Parameter \\#2 \\$object of method KimaiPlugin\\\\ImportBundle\\\\Command\\\\KimaiImporterCommand\\:\\:validateImport\\(\\) expects object, App\\\\Entity\\\\Team\\|null given\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php

    - message: "#^Parameter \\#2 \\$plainPassword of method Symfony\\\\Component\\\\PasswordHasher\\\\Hasher\\\\UserPasswordHasherInterface\\:\\:hashPassword\\(\\) expects string, string\\|null given\\.$#"
      count: 2
      path: Command/KimaiImporterCommand.php

    - message: "#^Parameter \\#2 \\$team of method KimaiPlugin\\\\ImportBundle\\\\Command\\\\KimaiImporterCommand\\:\\:setGroupCache\\(\\) expects App\\\\Entity\\\\Team, App\\\\Entity\\\\Team\\|null given\\.$#"
      count: 1
      path: Command/KimaiImporterCommand.php
